<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'css/freelancer.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMp0R5JwP5gD5DZc+jx+J4/X5G40h3P4G5F5g9" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-brand">TechJob</div>
            <div class="search-container">
                <input type="text" placeholder="Pesquisar...">
                <span class="search-icon">🔍</span> 
            </div>
            <div class="navbar-links">
                <div class="profile-icon" onclick="window.location.href='perfil.html'">
                    <i class="fas fa-user"></i> 
                </div>
            </div>
        </div>
    </nav>

    <div class="card">
        <div class="card-top"></div> <!-- Parte superior preta do card -->
        <div class="profile-picture"></div>
        <div class="card-bottom"> <!-- Parte inferior cinza do card -->
            <div class="username">Nome do Usuário</div>
            <div class="description">Esta é uma breve descrição sobre o usuário.</div>
            <div class="skills-title">Skills</div>
            <div class="skills">JavaScript, Python, HTML, CSS</div>
        </div>
    </div>
    
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
