<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>TechJob</title>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-brand">TechJob</div>
            <div class="navbar-links">
                <div class="profile-icon" onclick="window.location.href='perfil.html'">
                    <i class="fas fa-user"></i> 
                </div>
            </div>
        </div>
    </nav>

    <div class="search-container">
        <input type="text" placeholder="Pesquisar...">
        <span class="search-icon">🔍</span> 
    </div>

    <div class="carousel">
        <div class="carousel-wrapper">
            <div class="carousel-item"><img src="{% static 'img/carrossel.png' %}" alt="Carrossel"></div>
            <div class="carousel-item"><img src="{% static 'img/destaque.png' %}" alt="Destaque"></div>
            <div class="carousel-item"><img src="{% static 'img/novoProjeto.png' %}" alt="Novo Projeto"></div>
        </div>
    </div>

    <h2 class="destaques-title">Destaques</h2>
    <div class="destaques-container">
        <img src="{% static 'img/destaque.png' %}" alt="Destaque 1" class="destaque-item">
        <img src="{% static 'img/destaque.png' %}" alt="Destaque 2" class="destaque-item">
        <img src="{% static 'img/destaque.png' %}" alt="Destaque 3" class="destaque-item">
    </div>
    <h2 class="destaques-title">Novos Projetos</h2> 
    <div class="destaques-container">
        <img src="{% static 'img/novoProjeto.png' %}" alt="Novo Projeto 1" class="destaque-item">
        <img src="{% static 'img/novoProjeto.png' %}" alt="Novo Projeto 2" class="destaque-item">
        <img src="{% static 'img/novoProjeto.png' %}" alt="Novo Projeto 3" class="destaque-item">
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
