* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.navbar {
    background-color: #333;
    padding: 0.5rem 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.profile-icon {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 20px; 
}

.search-container input {
    padding: 0.5rem; 
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    width: 15rem; 
    font-size: 1rem;
    margin-right: 0.5rem; 
}

.search-icon {
    color: #999;
    font-size: 1.2rem;
    cursor: pointer; 
}

.carousel {
    margin: 60px auto; /* Aumentando a distância entre a barra de pesquisa e o carrossel */
    width: 300px; 
    height: 200px; 
    overflow: hidden; 
    position: relative; 
}

.carousel-wrapper {
    display: flex;
    position: absolute; 
    width: 100%; 
}

.carousel-item {
    min-width: 100%; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.carousel-item img {
    width: 100%; 
    height: auto; 
}

.carousel-item:nth-child(1) {
    opacity: 1; 
}

.destaques-title {
    text-align: center; 
    margin: 40px 0; /* Espaçamento acima e abaixo do título Destaques */
    font-size: 1.5rem; /* Diminuindo o tamanho da fonte */
}

.destaques-container {
    display: flex; 
    justify-content: center; 
    gap: 30px; /* Espaço entre as imagens de destaque */
}

.destaque-item {
    width: 150px; /* Aumentando o tamanho das imagens de destaque */
    height: auto; /* Mantém a proporção da imagem */
}
